<div>
	<a href="https://lecourrierduhacker.com/" target="_blank" rel="noopener"><img width="300px" src="/2020/04/lecourrierduhacker2.jpg" title="Courrier du Hacker" alt="CourrierHacker"></a>
    <a href="https://lecourrierduhacker.com/" target="_blank" rel="noopener">Retrouvez mes articles aux côtés de ceux de la communauté du Logiciel Libre et de l'Open Source sur le <b>Courrier du Hacker</b></a>.
</div>

<script data-goatcounter="https://blogzwindler.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<script async src="https://tracker.blogtally.com/blogtally.min.js" data-site="5a222683-8a44-42a7-984a-2f75ae2d9062" defer></script>
<script defer src="https://cloud.umami.is/script.js" data-website-id="3d8f0ea9-97ed-44f6-82d1-bcd5b8e6efad"></script>
